<div class="rc-panel">
  <div class="rc-button-stack">
    {{#each buttons}}
      <button
        type="button"
        class="rc-likelihood"
        data-yes-from="{{this.yesFrom}}"
        title="{{this.tooltip}}"
        aria-label="{{this.tooltip}}"
        style="--rc-hue: {{this.hue}}; --rc-sat: {{this.saturation}}%; --rc-light: {{this.lightness}}%;"
      >{{this.display}}</button>
    {{/each}}
  </div>
</div>
